* {
    margin: 0px;
    padding: 0px;
}

.menu ul li { 
    font-size: 24px;
    display: inline-block;
    margin: 0px 20px 0px 20px;
    letter-spacing: 1px;
    line-height: 70px;
}

.menu ul li a {
    display: block;
    color: black;
    text-decoration: none;
    transition: all 200ms;
}

.menu ul li a:hover {
    color: #37bcf9;
    transform: scale(1.2, 1.2);
}

